extends ../layout

block content

  .page_body.padding_top_header
    section.result_table_section

      .padding_lr.stretch.clrfx

        .users_responsive_table.tabs.mobile_table(style='min-height: 338px;overflow: auto')

          .tabs_content(style="min-width: 6000px")
            if tabledata
              each row, i in tabledata
                div
                  .tr_user_name #{i+1}
                  .tabs_box
                    .tab_3(style='width: 100%;')
                      div(style='width: 1.90697674%;') #{row.col1}
                      div(style='width: 1.90697674%;') #{row.col2}
                      div(style='width: 1.90697674%;') #{row.col3}
                      div(style='width: 1.90697674%;') #{row.col4}
                      div(style='width: 1.90697674%;') #{row.col5}
                      div(style='width: 1.90697674%;') #{row.col6}
                      div(style='width: 1.90697674%;') #{row.col7}
                      div(style='width: 10%;') #{row.col8}
                      div(style='width: 1.90697674%;') #{row.col9}
                      div(style='width: 1.90697674%;') #{row.col10}
                      div(style='width: 1.90697674%;') #{row.col11}
                      div(style='width: 1.90697674%;') #{row.col12}
                      div(style='width: 1.90697674%;') #{row.col13}
                      div(style='width: 1.90697674%;') #{row.col14}
                      div(style='width: 1.90697674%;') #{row.col15}
                      div(style='width: 1.90697674%;') #{row.col16}
                      div(style='width: 1.90697674%;') #{row.col17}
                      div(style='width: 1.90697674%;') #{row.col18}
                      div(style='width: 1.90697674%;') #{row.col19}
                      div(style='width: 1.90697674%;') #{row.col20}
                      div(style='width: 1.90697674%;') #{row.col21}
                      div(style='width: 1.90697674%;') #{row.col22}
                      div(style='width: 1.90697674%;') #{row.col23}
                      div(style='width: 1.90697674%;') #{row.col24}
                      div(style='width: 1.90697674%;') #{row.col25}
                      div(style='width: 1.90697674%;') #{row.col26}
                      div(style='width: 1.90697674%;') #{row.col27}
                      div(style='width: 1.90697674%;') #{row.col28}
                      div(style='width: 1.90697674%;') #{row.col29}
                      div(style='width: 1.90697674%;') #{row.col30}
                      div(style='width: 1.90697674%;') #{row.col31}
                      div(style='width: 1.90697674%;') #{row.col32}
                      div(style='width: 1.90697674%;') #{row.col33}
                      div(style='width: 1.90697674%;') #{row.col34}
                      div(style='width: 1.90697674%;') #{row.col35}
                      div(style='width: 1.90697674%;') #{row.col36}
                      div(style='width: 1.90697674%;') #{row.col37}
                      div(style='width: 1.90697674%;') #{row.col38}
                      div(style='width: 1.90697674%;') #{row.col39}
                      div(style='width: 1.90697674%;') #{row.col41}
                      div(style='width: 1.90697674%;') #{row.col42}
                      div(style='width: 8%;') #{row.col43}
                      div(style='width: 1.90697674%;') #{row.col44}
                      div(style='width: 1.90697674%;') #{row.col45}
